@font-face {
  font-family: "yekan";
  src: url("../fonts/20S-Yekan.eot");
  src: url("../fonts/20S-Yekan.ttf") format("ttf");
  src: url("../fonts/20S-Yekan.woff") format("woff");
  src: url("../fonts/20S-Yekan.svg") format("svg");
}
